@font-face {
    font-display: swap;
    font-family: 'Rubik';
    src: url('~@fonts/Rubik-Variable.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: 'Rubik';
    src: url('~@fonts/Rubik-italic-Variable.woff2') format('woff2');
    font-style: italic;
}