// Colors

$primary-400: #64ceff;
$primary-500: #009dea;
$primary-600: #006fb7;

$secondary-300: #ffffff;
$secondary-400: #eeeeee;
$secondary-500: #dddddd;
$secondary-600: #7F878D;
$secondary-700: #49545D;